.checkout-navbar-main{
    padding: 0.9rem 0.5rem;
    padding-right: 0.9rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 50;
}
.ceckout-main-content-wrapper-row{
    height: 100vh;
}
.checkout-nav-udemy-image{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.checkout-nav-cancel-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #5624d0;
    background-color: transparent;
    min-width: auto;
    align-items: center;
    border: none;
    cursor: pointer;
    font-weight: bolder;
}
.ceckout-main-content-wrapper-left-col{
    padding-right: 3.6rem;
}
.checkout-left-side-main-row{
    display: flex;
    justify-content: end;
    align-items: center;
}
.checkout-text-col{
    padding: 0rem;
    margin: 0rem;
    font-weight: 700;
    font-size: 1.95rem;
    margin-top: 1rem;
}
.billing-address-text-col{
    padding: 0rem;
    margin: 0rem;
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 1.6rem;
  
}
.checkout-right-side-main-row{
    background: #f7f9fa;

}
.country-required-both-col-main-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.country-required-text-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-box:hover{
    background-color: rgba(0,0,0,.04);
}
.select-box-col{
    padding: 0rem;
    margin: 0rem;
}

.country-text-col{
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 0.9rem;
}
.required-text-col{
    padding: 0;
    margin: 0;
    text-align: end;
    color: #6a6f73;
    font-size: 0.9rem;
}
.udemy-is-required-text-col{
    padding: 0;
    margin: 0;
    color: #6a6f73;
    font-weight: 400;
    font-size: 0.72rem;
    margin-top: 0.38rem;
}
.payment-secured-both-text-row{
    margin-top: 1.6rem;
}
.payment-method-text-col{
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 1.65rem;
}
.secured-connection-text-col{
    padding: 0;
    margin: 0;
    color: #6a6f73;
    font-weight: 400;
    font-size: 0.72rem;
    display: flex;
    justify-content: end;
    align-items: center;
}
.secured-connection-text-col-icon{
    color: black;
}
.accordion-main-col{
    padding: 0;
    margin: 0;
    margin-top: 0.8rem;
}
.order-details-courses-list-main-row{
    margin-top: 1rem;
}
.order-details-text-col{
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 1.65rem;
    margin-top: 1.9rem;
}
.order-details-courses-list-image-col{
    padding: 0;
    margin: 0;
}
.order-details-courses-list-image{
    width: 1rem;
    width: 2.2rem;
    height: 2.2rem;
}
.order-details-courses-list-text-col{
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 0.9rem;
    
}
.order-details-courses-list-text-col-span{
    float: right;
    font-weight:400;
    font-size: 1rem;
}
.checkout-right-side-content-main-row{
    padding-top: 5rem;
    padding-left: 2.8rem;
}
.summary-text-col{
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    
}
.original-price-text-row{
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    border-bottom: 1px solid #d1d7dc;
    padding-bottom: 0.4rem;
}
.original-price-text-col{
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
}
.rupee-col{
    text-align: end;
    padding: 0;
    margin: 0;
}
.total-text-row{
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    
}
.total-text-col{
    font-size: 1.1rem;
    font-weight: 800;
    padding: 0;
    margin: 0;
}
.total-rupee-col{
    font-size: 1.1rem;
    font-weight: 800;
    text-align: end;
    padding: 0;
    margin: 0;
}
.by-completing-text-col{
    padding: 0;
    margin: 0;
    font-size: 0.78rem;
    color: #6a6f73;
}
.by-completing-text-col a{
    color: #5624d0;
    margin-left: 0.3rem;
}
.by-completing-text-col a:hover{
    color: #401b9c;
}
.proceed-button-col{
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;
}
.proceed-button{
    width: 100%;
    height: 3rem;
    background-color: #a435f0;
    color: white;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.proceed-button:hover{
    background-color: #8710d8;
}
.thirty-day-text-col{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 0.8rem;
    color: #6a6f73;
}